.ai-painting-box{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  .painting-left{
    width: 22rem;
    height: 100%;
    padding: 1.6rem;
    box-sizing: border-box;
    background: #11141E;
    .left-tit{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.2rem;
      .text{
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
      }
      i{
        color: #94A3B8;
        font-size: 1.8rem;
      }
    }
    .left-cont{
      height: calc(100% - 3.8rem);
      margin-top: 1.4rem;
      width: 100%;
      overflow-y: auto;
      .img-item-list{
        width: 100%;
        margin-bottom: 1.6rem;
        cursor: pointer;
        box-sizing: border-box;
        img{
          width: 100%;
        }
      }
      .imgItemActive{
        border-radius: 0.4rem;
        .el-image{
          border: 0.5px solid #47C4F7;
          padding: 1px;
          box-sizing: border-box;
        }
      }
      .imgItemActiveRed{
        border-radius: 0.4rem;
        .el-image{
          border: 0.5px solid #F87DEF;
          padding: 1px;
          box-sizing: border-box;
        }
      }
      .left-cont-no{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 10.8rem;
          height: 10.8rem;
        }
      }
    }
  }
  .painting-center{
    width: calc(100% - 66rem);
    height: 100%;
    .painting-cont{
      width: 100%;
      height: 100%;
      padding:0 6rem 6rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .painting-cont-top{
        width: 100%;
        height: 64rem;
        .painting-input-box{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          .content{
            width: 60rem;
            height: 100%;
            .yesImg{
              width: 100%;
              height: 100%;
              .image-slot{
                width: 24rem;
                height: 30rem;
                img{
                  width: 24rem;
                  height: 24rem;
                }
                div{
                  margin-top: 3rem;
                  font-size: 1.6rem;
                }
              }
            }
            .inPainting-box{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 40rem;
              margin: 15rem auto 0 auto;
              img{
                width: 24rem;
                height: 24rem;
              }
              .progress-text{
                margin-top: 4rem;
              }
              .progress-boxs{
                margin-top: 1rem;
                width: 100%;
              }
            }
          }
          .cont-right-box{
            width: 32rem;
            height: 64rem;
            background: #11141E;
            border-radius: 0px 0px 4px 4px;
            border: 1px solid #4E5C8D;
            position: absolute;
            right: 2rem;
            top: 0;
            padding: 1.6rem;
            box-sizing: border-box;
            .title{
              font-size: 1.4rem;
              color: #FFFFFF;
            }
            .cont-text{
              width: 100%;
              height: 13.4rem;
              border-radius: 0.4rem;
              opacity: 1;
              border: 1px solid #94A3B8;
              padding:1.2rem;
              box-sizing: border-box;
              font-size: 1.2rem;
              line-height: 2rem;
              overflow-y: auto;
              margin-top: 1.6rem;
            }
            .imgHandle{
              margin-top: 2rem;
              .title{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .left{
                  font-size: 14px;
                  margin-right: 0.8rem;
                }
                .right{
                  font-size: 12px;
                  color: #94A3B8;
                }
              }
              .imgHandle-btn-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1.6rem;
                div{
                  width: 6rem;
                  height: 5.6rem;
                  background: #1A1E2D;
                  border-radius: 0.2rem;
                  border: 1px solid #4E5C8D;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
            .more-box{
              margin-top: 2rem;
            }
            .more-cont{
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin-top: 1.6rem;
            }
            .cont-right-imgText{
              .title{
                font-size: 14px;
              }
              .cont{
                max-height: 14rem;
                width: 100%;
                overflow-y: auto;
                margin:1.5rem 0;
                border-radius: 0.4rem;
                opacity: 1;
                border: 1px solid #94A3B8;
                padding:1.2rem;
                box-sizing: border-box;
                font-size: 1.2rem;
                line-height: 2rem;
              }
              .more-imgText-cont{
                .prompt-tag-box{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .prompt-item{
                    width: 5rem;
                    height: 3.6rem;
                    text-align: center;
                    line-height: 3.6rem;
                    background: #1A1E2D;
                    border-radius: 0.2rem;
                    border: 1px solid #4E5C8D;
                    cursor: pointer;
                  }
                }
                .more-btn-box{
                  text-align: center;
                  display: flex;
                  justify-content: space-between;
                }
              }
            }
            .more-btn{
              width: 13.6rem;
              height: 3.6rem;
              background: #11182F;
              border-radius: 0.4rem;
              border: 1px solid;
              border-image: linear-gradient(90deg, rgba(233, 109, 194, 1), rgba(124, 108, 251, 1)) 1 1;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              i{
                display: inline-block;
                width: 1.8rem;
                height: 1.8rem;
                margin-right: 0.3rem;
              }
              .i1{
                background: url("https://image.hanzaitu.com/static/aiPainting/Redo @2x.png") no-repeat;
                background-size: 100%;
              }
              .i2{
                background: url("https://image.hanzaitu.com/static/aiPainting/Delete-one@2x.png") no-repeat;
                background-size: 100%;
              }
              .i3{
                background: url("https://image.hanzaitu.com/static/aiPainting/Download-img.png") no-repeat;
                background-size: 100%;
              }
              .i4{
                background: url("https://image.hanzaitu.com/static/aiPainting/icon_Magic_18@2x.png") no-repeat;
                background-size: 100%;
              }
              .i5{
                background: url("https://image.hanzaitu.com/static/aiPainting/icon_magnifying_glass_18@2x.png") no-repeat;
                background-size: 100%;
              }
              .i6{
                background: url("https://image.hanzaitu.com/static/aiPainting/icon_publish.png") no-repeat;
                background-size: 100%;
              }
              .i7{
                background: url("https://image.hanzaitu.com/static/aiPainting/icon_collection.png") no-repeat;
                background-size: 100%;
              }
              span{
                background: linear-gradient(90deg, #836CF7 0%, #EC6DC0 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
        .painting-input-tag{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          .img-box{
            width: 24rem;
            height: 24rem;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .text{
            font-size: 2.8rem;
            font-weight: 500;
            background: linear-gradient(90deg, #836CF7 0%, #EC6DC0 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 4rem 0 1.2rem;
          }
          .subtext{
            font-size: 1.6rem;
            color: #FFFFFF;
          }
        }
      }
      .input-box{
        width: 100%;
        margin-top: 2rem;
        .input-box-cont{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #1A1E2D;
          border-radius: 0.4rem;
          border: 1px solid #4E5C8D;
          .cont-left{
            flex: 1;
          }
          .cont-right{
            width: 3.2rem;
            height: 3.2rem;
            background: url("https://image.hanzaitu.com/static/aiChat/icon_send18@2x.png") no-repeat;
            background-size: 100%;
            cursor: pointer;
            margin-left: 5rem;
            margin-right: 2.4rem;
          }
        }
      }
    }
  }
  .painting-right{
    width: 44rem;
    height: 100%;
    padding: 1.6rem;
    box-sizing: border-box;
    background: #11141E;
    .right-title{
      font-size: 1.8rem;
    }
    .upload-tab{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 20rem;
      height: 3.5rem;
      background: #1A1E2D;
      border-radius: 0.2rem;
      margin-top: 3rem;
      padding: 0 0.8rem;
      box-sizing: border-box;
      .upload-tab-btn{
        width: 50%;
        height: 2rem;
        background: #11182F;
        text-align: center;
        line-height: 2rem;
        font-size: 1.4rem;
        cursor: pointer;
      }
      .upload-active{
        background: linear-gradient(90deg, #836CF7 0%, #EC6DC0 100%);
      }
    }
    .right-upload-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 7.3rem;
      background: #2E3653;
      border-radius: 0.4rem;
      padding: 0 1.6rem;
      box-sizing: border-box;
      margin-top: 1.6rem;
      .upload-img-box{
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 0.4rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .text{
        color: #94A3B8;
        p:first-child{
          font-size: 1.4rem;
        }
        p:last-child{
          font-size: 1.2rem;
          margin-top: 0.5rem;
        }
      }
      .upload-btn{
        width: 7.8rem;
        height: 3.2rem;
        background: linear-gradient(90deg, #836CF7 0%, #EC6DC0 100%);
        border-radius: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .size-box{
      margin-top: 4rem;
      .size-title{
        font-size: 1.4rem;
      }
      .size-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 1.5rem;
        .size-cont-item{
          width: 12rem;
          height: 7.6rem;
          border-radius: 0.4rem;
          border: 1px solid #94A3B8;
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .item-icon{
            border: 1px solid #D9D9D9;
            margin-bottom: 0.3rem;
          }
          .i1{width: 2.8rem;height: 2.8rem;}
          .i2{width: 2.1rem;height: 2.8rem;}
          .i3{width: 2.8rem;height: 2.1rem;}
          .i4{width: 2.8rem;height: 1.6rem;}
          .i5{width: 1.6rem;height: 2.8rem;}
          .customSize{
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
              border: none;
              border-bottom: 1px solid #fff;
              color: #fff;
              background: transparent;
              width: 3rem;
              outline: none;
            }
          }
        }
        .sizeActive{
          border: 1px solid;
          border-image: linear-gradient(90deg, rgba(131, 108, 247, 1), rgba(236, 109, 192, 1)) 1 1;
          .item-icon{
            border: 1px solid;
            border-image: linear-gradient(90deg, rgba(131, 108, 247, 1), rgba(236, 109, 192, 1)) 1 1;
          }
          .text{
            background: linear-gradient(90deg, #836CF7 0%, #EC6DC0 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    .prompt-box{
      margin-top: 1rem;
      height: 40rem;
      width: 100%;
      .prompt-tab{
        margin-top: 1.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40.8rem;
        height: 4.8rem;
        background: #1A1E2D;
        border-radius: 0.2rem;
        border: 1px solid #4E5C8D;
        .prompt-tab-item{
          width: 6rem;
          height: 3.2rem;
          text-align: center;
          line-height: 3.2rem;
          background: #11182F;
          border-radius: 1.6rem;
          font-size: 1.4rem;
          cursor: pointer;
        }
        .itemActive{
          background: linear-gradient(90deg, #836CF7 0%, #EC6DC0 100%);
        }
      }

      .prompt-cont{
        height: calc(100% - 4.5rem);
        width: 100%;
        margin-top: 1rem;
        overflow-y: auto;
        .prompt-item{
          .prompt-item-tit{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            .tag{
              font-size: 1.2rem;
              padding:0.1rem 0.4rem;
              background: #3B529D;
              border-radius: 2px 2px 2px 2px;
            }
          }
          .prompt-item-cont{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            .cont-item{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin: 1rem 1rem 1rem 0;
              cursor: pointer;
              .item-key{
                background: #390B1B;
                font-size: 1.2rem;
                color: #F98BB0;
                padding: 0.6rem 0.8rem;
                box-sizing: border-box;
                border-radius: 2px 0px 0px 2px;
              }
              .item-val{
                background: #2E3653;
                padding: 0.6rem 0.8rem;
                box-sizing: border-box;
                font-size: 1.2rem;
                color: #fff;
                border-radius: 0px 2px 2px 0px;
              }
            }

          }
        }
      }
    }
  }
}